@model IEnumerable<DAL.FrameWork.NhanVien>

@{
    ViewBag.Title = "GetStaff";
    Layout = "~/Views/Shared/MainLayout/_MainLayout.cshtml";
}

<h2>GetStaff</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
