@model DAL.FrameWork.KhachHang
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoginLayout/_LoginLayout.cshtml";
}

@section Styles{
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->

    <link rel="stylesheet" href="~/Assets/Main/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="~/Assets/Main/css/stylelogin.css" type="text/css">
}

<div class="container" id="main">
    <div class="sign-up">
        @using (Html.BeginForm("Register", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p>or use your telephone number for registration</p>
            <input type="text" name="DienThoai" value="@ViewBag.PhoneReg" placeholder="Phone Number">
            <div class="text-danger">@Html.ValidationMessageFor(m => m.DienThoai)</div>
            <input type="text" name="Ten" value="@ViewBag.Name" placeholder="Name">
            <input type="date" name="NgaySinh" value="@ViewBag.Birthday" />
            <input type="text" name="DiaChi" value="@ViewBag.Address" placeholder="Address">
            <input type="password" name="Password" placeholder="Password">
            <div class="text-danger">
                @Html.ValidationMessage("PasswordReg")
            </div>
            <input type="password" name="MatKhau" placeholder="Confirm password">
            <div class="text-danger">@Html.ValidationMessageFor(m => m.MatKhau)</div>
            <div class="text-danger">
                @Html.ValidationMessage("ConfirmPassword")
            </div>
            <div class="form-check">
                <input class="form-check-input l-1" type="checkbox" name="checkTerms" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">I agree all statements in  <a href="#" class="term">Terms</a></label>
            </div>
            <div class="text-danger">
                @Html.ValidationMessage("Terms")
            </div>

            <button type="submit">Sign Up</button>
        }
    </div>
    <div class="sign-in">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p>or use your account</p>
            <input type="text" name="Phone" value="@ViewBag.Phone" placeholder="Phone Number">
            <div class="text-danger">@Html.ValidationMessage("Phone")</div>
            <input type="password" name="Password" placeholder="Password">
            <div class="text-danger">@Html.ValidationMessage("ErrorPassword")</div>
            <a href="#">Forget your Password?</a>
            <button type="submit">Sign In</button>
        }
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-left">
                <h1>Wellcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button id="signIn">Sign In</button>
            </div>
            <div class="overlay-right">
                <h1>Hello, Friend</h1>
                <p>Enter your personal details and start journey with us</p>
                <button id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const main = document.getElementById('main');

        signUpButton.addEventListener('click', () => {
            main.classList.add("right-panel-active");
        });
        signInButton.addEventListener('click', () => {
            main.classList.remove("right-panel-active");
        });
    </script>
}