@model DAL.FrameWork.KhachHang

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoginLayout/_LoginLayout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const main = document.getElementById('main');

        signUpButton.addEventListener('click', () => {
            main.classList.add("right-panel-active");
        });
        signInButton.addEventListener('click', () => {
            main.classList.remove("right-panel-active");
        });
    </script>
}

<div class="container" id="main">
    <div class="sign-up">
        @using (Html.BeginForm("Register", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Đăng ký tài khoản</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p>hoặc sử dụng địa chỉ email của bạn</p>

            <input id="Email" type="text" name="Email" value="@ViewBag.Email" placeholder="Email">
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            <input type="text" name="DienThoai" value="@ViewBag.Phone" placeholder="Số điện thoại">
            @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })

            <input type="text" name="Ten" value="@ViewBag.Name" placeholder="Họ và tên">

            <input type="date" name="NgaySinh" value="@ViewBag.Birthday" />
            @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })

            <input type="text" name="DiaChi" value="@ViewBag.Address" placeholder="Địa chỉ">
            <input type="password" name="Password" placeholder="Mật khẩu">
            @Html.ValidationMessage("Password", new { @class = "text-danger" })

            <input type="password" name="MatKhau" placeholder="Xác nhận mật khẩu">
            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })

            <div class="form-check">
                <input class="form-check-input l-1" type="checkbox" name="checkTerms" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">Tôi đồng ý với các <a href="#" class="term">Điều khoản</a></label>
            </div>
            @Html.ValidationMessage("Terms", new { @class = "text-danger" })

            <button type="submit">Đăng ký</button>
        }
    </div>
    <div class="sign-in">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Đăng nhập</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p>hoặc sử dụng tài khoản của bạn</p>
            <input type="text" name="Email" value="@ViewBag.Email" placeholder="Email/Số điện thoại">
            @Html.ValidationMessage("EmailLogin", new { @class = "text-danger" })

            <input type="password" name="Password" placeholder="Mật khẩu">
            @Html.ValidationMessage("PasswordLogin", new { @class = "text-danger" })

            @Html.ActionLink("Quên mật khẩu", "ForgetPassword", "", new { @class = "text-decoration-none" })
            <button type="submit">Đăng nhập</button>
        }
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-left">
                <h1>Chào mừng trở lại!</h1>
                <p>Để giữ kết nối với chúng tôi, vui lòng đăng nhập bằng tài khoản cá nhân</p>
                <button id="signIn">Đăng nhập</button>

            </div>
            <div class="overlay-right">
                <h1>Chào mừng bạn</h1>
                <p>Nhập chi tiết cá nhân của bạn và bắt đầu hành trình với chúng tôi</p>
                <button id="signUp">Đăng ký</button>
            </div>
        </div>
    </div>
</div>
