@model DAL.FrameWork.KhachHang
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoginLayout/_LoginLayout.cshtml";
}

@section Styles{
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->

    <link rel="stylesheet" href="~/Assets/Main/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="~/Assets/Main/css/stylelogin.css" type="text/css">
}

<div class="container" id="main">
    <div class="sign-up">
        @using (Html.BeginForm("Register", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p>Hoặc sử dụng số điện thoại của bạn để đăng ký</p>
            <input type="text" name="DienThoai" value="@ViewBag.Phone" placeholder="Số điện thoại">
            @Html.ValidationMessage("PhoneReg", new { @class = "text-danger" })

            <input type="text" name="Ten" value="@ViewBag.Name" placeholder="Tên của bạn">
            <input type="date" name="NgaySinh" value="@ViewBag.Birthday" />
            @Html.ValidationMessage("Birthday", new { @class = "text-danger" })

            <input type="text" name="DiaChi" value="@ViewBag.Address" placeholder="Địa chỉ">
            <input type="password" name="Password" placeholder="Mật khẩu">
            @Html.ValidationMessage("PasswordReg", new { @class = "text-danger" })

            <input type="password" name="MatKhau" placeholder="Xác nhận mật khẩu">
            <div class="text-danger">@Html.ValidationMessageFor(m => m.MatKhau)</div>
            @Html.ValidationMessage("ConfirmPassword", new { @class = "text-danger" })

            <div class="form-check">
                <input class="form-check-input l-1" type="checkbox" name="checkTerms" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">Tôi đồng ý với các <a href="#" class="term">Điều khoản</a></label>
            </div>
            @Html.ValidationMessage("Terms", new { @class = "text-danger" })

            <button type="submit">Đăng ký</button>
        }
    </div>
    <div class="sign-in">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Đăng nhập</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p>Hoặc sử dụng tài khoản của bạn</p>
            <input type="text" name="Phone" value="@ViewBag.Phone" placeholder="Số điện thoại">
            @Html.ValidationMessage("Phone", new { @class = "text-danger" })
            <input type="password" name="Password" placeholder="Mật khẩu">
            @Html.ValidationMessage("ErrorPassword", new { @class = "text-danger" })
            <a href="#">Quên mật khẩu?</a>
            <button type="submit">Đăng nhập</button>
        }
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-left">
                <h1>Chào mừng trở lại!</h1>
                <p>Để giữ kết nối với chúng tôi, vui lòng đăng nhập bằng tài khoản cá nhân</p>
                <button id="signIn">Đăng nhập</button>

            </div>
            <div class="overlay-right">
                <h1>Chào mừng bạn</h1>
                <p>Nhập chi tiết cá nhân của bạn và bắt đầu hành trình với chúng tôi</p>
                <button id="signUp">Đăng ký</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const main = document.getElementById('main');

        signUpButton.addEventListener('click', () => {
            main.classList.add("right-panel-active");
        });
        signInButton.addEventListener('click', () => {
            main.classList.remove("right-panel-active");
        });
    </script>
}